$sofia-light: 'SofiaProLight';
$sofia: 'SofiaProRegular';
$sofia-italic: 'SofiaProBlackItalic';
$sofia-black: 'sofiaproblack';
$cervo: 'cervoNeue';
$cervo-black: 'CervoNeueBlack';
$astro: 'Astrolight';

// COLORS
$blue: #0065C3;
$red: #EA0727;

@import 'typography';



.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

.stretch-width {
	max-width: 97% !important;
	padding-top: 120px;
}

.header-fixed {
	width: 100%;
	position: fixed;
	z-index: 999;
}

.position-right-nav {
	position: fixed;
	padding-right: 40px;
	right: 0;
}

.form-group {
	margin-bottom: 30px;
	label {
		display: block;
		color: $blue;
		font-family: $sofia;
		margin-bottom: 10px;
		text-transform: uppercase;
		font-size: em(16);
	}

	input {
		padding: 10px 15px;
		border-radius: 3px;
		border: none;
		outline: none;
		width: 100%;
	}
}

select {
	display: block;
	width: 100%;
}

.blue-btn {
	background: $blue;
	padding: 15px 15px;
	min-width: 250px;
	margin-top: 0px;
	color: #fff;
	text-transform: uppercase;

	&:hover {
		color: #fff;
	}
}

.blue-border {
	border: 2px solid $blue;
	color: $blue;
	background: transparent;

	&:hover {
		background: $blue;
		color: #fff;
	}

	&:focus {
		border-color: none;
	}
}

.red-border {
	border: 2px solid $red;
	color: $red;
	background: transparent;
}

.btn-inline {
	display: inline-block !important;
}