@import 'mixins';

body {
	font-family: $sofia, sans-serif;
	// background: $blue;
}

img {
	max-width: 100%;
}

.crop-image {
	max-height: 400px;
	margin-bottom: 30px;

	img {
		max-width: 100%;
	}
}

.mb-40 {
	margin-bottom: 40px;
}

.blue-body {
	background: $blue;
}

.top-nav {
	ul {
		text-align: right;
		margin-top: 15px;
		li {
			display: inline-block;
			margin-left: 20px;

			a  {
				color: #fff;
				text-transform: uppercase;
				font-size: em(12);
				font-family: $sofia-black;

				&:hover {
					opacity: .7;
					text-decoration: none;
				}
			}
		}
	}
}

.fixed-blue-hd {
	background: $blue;
	padding: 18px 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
}

.fixed-hd {
	padding: 18px 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
}

.blue-hd {
	background: $blue;
	padding: 18px 0;
}

#myVideo {
    // position: fixed;
    right: 0;
    bottom: 0;
    max-width: 100%; 
    max-height: 100%;
 //    -o-object-fit: cover!important;
	// object-fit: cover!important;
}

.about_pym {
	background: url(../img/img-3.jpg);
	background-size: cover;
	padding-bottom: 100px;
	background-position: top right;
	min-height: 100vh;
	padding-top: 250px;
	position: relative;

	h2 {
		margin-bottom: 30px;
		color: #fff;
	}

	p{
		font-size: em(16);
		line-height: 1.5;
		margin-bottom: 15px;
		color: #fff;
	}
	
}

.green_overlay {
	background: rgba(14, 96, 27, 0.79);
	top: 0;
	position: absolute;
	width: 100%;
	min-height: 100vh;
	height: 100%;
	padding: 20px;
}

.online_pay, .atm_pos {
	background: url(../img/img-2.jpg);
	background-size: cover;
	background-position: top right;
	min-height: 100vh;
	height: 100%;
	padding-top: 200px;
	position: relative;
	padding-bottom: 100px;

	ul {
		margin: 0;
		padding: 0;
		margin-bottom: 40px;

		li {
			list-style: none;
			font-size: em(16);
			color: #fff;
			margin-bottom: 10px;

			&:before {
				display: inline-block;
				font-family: FontAwesome;
				content: "\f058";
				float:left;
				font-size: 20px;
				width: 5%;
				padding-right: 10px;
			}

			span {
				float: left;
				width: 95%;
				padding-left: 10px;
				display: inline-block;
				// margin-top: -5px;
			}
		}
	}

	h2 {
		margin-bottom: 30px;
		color: #fff;
	}

	h3 {
		color: #fff;
		margin-bottom: 20px;
	}

	p {
		font-size: em(16);
		line-height: 1.5;
		margin-bottom: 15px;
		color: #fff;
	}
	
}

.atm_pos {
	background: url(../img/atm-bg.jpg);
	background-size: cover;
}

.blue_overlay {
	background: rgba(40, 47, 98, 0.92);
	top: 0;
	position: absolute;
	width: 100%;
	min-height: 100vh;
	height: 100%;
	padding: 20px;
}


.red_overlay { 
	background: rgba(112, 25, 74, 0.9);
	top: 0;
	position: absolute;
	width: 100%;
	min-height: 100vh;
	height: 100%;
	padding: 20px;
}

.fixed-header {
	background: #fff;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.32);

	img {
		text-align: center;
	}
}

.pym-logo {
	text-align: center;
	padding: 15px 0;
}

.pym-menu {
	border-top: 1px solid #ccc;
	padding: 10px 0;
	text-align: center;
	a {
		color: #444;
		display: inline-block;
		padding: 0 10px;
		font-size: em(12);

		&:hover {
			text-decoration: none;
		}
	}
}











.right-nav {
	color: #fff;
	font-size: em(12);
	text-transform: uppercase;
	float: right;
	font-family: $cervo;
	letter-spacing: 1px;
	border-radius: 25px;
	padding: 5px 20px;
	border: 2px solid #fff;
	margin-top: 10px;
	text-decoration: none !important;

	&:hover {
		background: #fff;
		color: $blue;
		transition: all 0.3s ease 0s;
	}
}

.collage {
	background: #000 url(../img/collage.png);
	background-size: cover;
	background-position: center;
}

.video-div {
	position: relative;
	// padding-top: 60px;
}

.content {
    // position: absolute;
    bottom: 0;
    background: rgba(40, 47, 98, 0.92);
    color: #f1f1f1;
    width: 100%;
    height: 100vh;
    padding: 20px;

    &.emoji-content {
    	background: rgba(112, 25, 74, 0.9);
    }

    &.red-bg {
    	background: rgba(14, 96, 27, 0.79);
    }

    &.blue-bg {
    	background: $blue;
    }

    .text {
      position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  text-align: center;

	  h1 {
	  	text-transform: uppercase;
	  	font-size: em(72);
		text-shadow: 0 2px 4px rgba(0,0,0,0.52);
	  }

	  p {
	  	text-transform: capitalize;
	  	font-size: em(24);
	  	letter-spacing: 1;
	  }
    }
}

.how-it-works {
	background: #1372A5;
	padding: 100px 0 150px;
	// margin-top: -10px;
	width: 100%;

	h2 {
		font-family: $sofia-italic;
		color: #fff;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 100px;
	}
}


.process-desc {
	text-align: center;
	color: #fff;
	margin-bottom: 40px;

	img {
		margin-bottom: 20px;
	}
	h4 {
		font-size: em(24);
		margin-bottom: 15px;
	}

	p {
		font-family: $sofia-light;
		font-size: em(16);
		padding: 0 20px;
	}
}

.border-btn {
	display: inline-block;
	text-align: center;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 25px;
	padding: 10px 30px;
	font-size: em(14);
	text-transform: uppercase;
	margin: 0 auto;
	font-family: $sofia-black;
	text-decoration: none !important;
	transition: all 0.3s ease 0s;

	&:hover {
		background: #fff;
		color: $blue;
	}

	&.small {
		// font-size: em(16);
		// padding: 10px 15px;
		margin-top: 40px;
	}


}

.meme-disp-container {
	margin-bottom: 30px;
	border-radius: 5px;

	img {
		border-radius: 5px;
	}
}

.recent-meme {
	padding: 100px 0;
	background: url('../img/PepsiStuff_D_BG.png');
	background-repeat: repeat;

	h2 {
		text-transform: uppercase;
		color: $blue;
		margin-bottom: 30px;
	}
}

.join {
	background: #7BCEEE;
	padding: 70px 0;
	color: #fff;
	text-align: center;

	h1 {
		margin-bottom: 30px;
	}
}

.footer {
	background: #1A1A1A;
	padding: 50px 0;
	text-align: center;
	color: #fff;

	img {
		margin-bottom: 20px;
	}

	p {
		font-size: em(16);
		font-family: $sofia-light;
	}
}

.social {
	margin-top: 30px;
	a {
		color: #fff;
		display: inline-block;
		padding: 0 10px;

		i {
			font-size: em(24);

		}
	}
}

.set-dropify {
	height: 300px;
}

.page-banner {
	background: url('../img/banner3.jpg');
	background-size: cover;
	background-position: center center;
	position: relative;
	padding: 140px 0 77px;
	text-align: center;
	color: #fff;

	h2 {
		text-transform: uppercase;
	}

	p {
		font-family: $sofia;
		font-size: em(18);
	}
}

.emoji-banner {
	background: url('../img/emoji-banner.png');
	background-size: cover;
	background-position: center center;
}

.ovalay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.62);
    color: #f1f1f1;
    width: 100%;
    height: 100%;
}

.image-upload {
	padding: 80px 0 150px;
	background: url('../img/splash_bottom_tear_with_background.jpg');
	background-repeat: repeat;

	h2 {
		color: $blue;
		text-transform: uppercase;
		margin-bottom: 30px;
	}
}

.selectize-control.single .selectize-input, .selectize-control.single .selectize-input input {
	cursor: pointer;
	padding: 10px 15px;
}

.selectize-dropdown [data-selectable], .selectize-dropdown .optgroup-header {
	padding: 10px 12px !important;
}



.dropify-max-height {
	max-height: 400px !important;
	margin-bottom: 40px;
}

.center-text {
	text-align: center;
}

.image-preview, .image-preview-2 {
	max-width: 500px;
	max-height: 500px;
	width: 100%;
	// height: 100%;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	background: #fff;
	margin-bottom: 50px;
}

.img-overlay {
	position: absolute;
    bottom: 0;
    opacity: 0.6;
	background-blend-mode: multiply;
	background: #002c56;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.overlay-content {
	position: relative;
}

.image-logo {
	position: absolute;
	bottom: 30px;
	right: 30px;
	
}

.natw {
	p {
		text-transform: capitalize;
		color: #fff;
		font-size: em(18);
		position: absolute;
		font-family: $cervo;
		bottom:30px;
		left: 30px;
	}
}

.template-text {
	text-transform: uppercase;
	font-family: $cervo;
	color: #EEEEEE;
	text-align: center;

	text-shadow: 0 2px 4px rgba(0,0,0,0.50);

	h4 {
		font-size: em(30);
		letter-spacing: 1px;
	}

	position: absolute;
	top: 20px;
	left:0;
	right: 0;
}

.motif {
	position: absolute;
	bottom: 0px;
	left: 46px;
	right: 0;

	img {
		max-width: 86%;
	}
}

.astro {
	position: absolute;
	color: #66DEFE;
	right: 40px;
	top: 170px;
	font-family: $astro;
	font-size: em(40);
	letter-spacing: 1px;
}

.meme-image {
	position: absolute;
	bottom: -22px;
	left: 81px;
	max-width: 280px;
	max-height: 280px;

	img {
		border-radius: 100%;
	}
	
}

.video-container {
	margin-bottom: 30px;
	background: #353535;
	border-radius: 4px;
}

.video-error {
	p {
		color: $red;
	}
}

.share {
	margin-top: 35px;
	font-size: em(18);
	margin-bottom: 40px;

	p {
		margin-bottom: 30px;
	}

	span {
		padding: 0 10px;
	}
}

.l-r-pad {
	margin: 10px;
}

.home-video {
	height: 100vh;
	width: 100%;
	position: relative;
	overflow: hidden;
	background-image: none;
}

.home {
	height: 100vh;
	overflow: hidden;
	// background-image: url(../img/snapshot-video.png);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	position: relative;
}



.home-video .video-background {
	position: absolute;
	width: auto;
	height: auto;
	min-height: 100%;
	min-width: 100%;
	z-index: -100;
}


.home-wrap {
	min-height: 100%;
	min-width: 100%;
	background-color: white;
	position: relative;
	top: 0;
	bottom: 100%;
	left: 0;
	z-index: 1;
}

.meme-gen, .video-gen, .emoji-gen {
	width: 33.3%;
	position: relative;
	// background: #83b14e;
	padding: 0 !important; 
	float: left;
	min-height: 100%;

	.content {
		.text {
			h1 {
				font-size: em(56);
			}

			p {
				font-size: em(18);
			}
		}
	}
}

.meme-gen {
	width: 33.4%;
	background: #000 url(../img/img-1.jpg);
	background-size: cover;
	background-position: top left;
}

.video-gen {
	float: left;

	background-image: url(../img/img-2.jpg);
	background-size: cover;
	background-position: center;
}

.emoji-gen {
	float: right;

	background-image: url(../img/img-3.jpg);
	background-size: cover;
	background-position: top left;
}

.mouse {
	position: absolute;bottom: 30px;left: 0;width: 100%;right: 50%;text-align: center;
}

.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}



// Mobile Menu
#nav-icon1 {
    width: 25px;
    height: 20px;
    display: none;
    position: relative;
    margin-right: 10px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    float: right;
    margin-top: 16px;
}

#nav-icon1 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
    top: 0px;
}

#nav-icon1 span:nth-child(2) {
    top: 8px;
}

#nav-icon1 span:nth-child(3) {
    top: 16px;
}

#nav-icon1.open span:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

#nav-icon1.open span:nth-child(3) {
    top: 10px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}


.error-content {
	padding-top: 100px;
	text-align: center;

	h1 {
		font-size: em(192);
		letter-spacing: 4px;
		color: #fff;
		opacity: .1;
	}

	p {
		font-size: em(48);
		color: #fff;
		text-transform: uppercase;
		font-family: $cervo;

	}

	span {
		display: block;
		font-family: $sofia;
		font-size: 18px;
		margin-top: 20px;
		text-transform: none;
	}

	a {
		margin-top: 40px;
		font-size: em(14);
	}
}


.emoji-download {
	border: 2px solid $blue;
	border-radius: 25px;
	padding: 6px 15px;
	font-size: em(12);
	color: $blue;
	background: transparent;
	margin-top: 20px;
	display: inline-block;
	margin-bottom: 30px;
	transition: all 0.3s ease 0s;

	i {
		margin-right: 5px;
	}

	&:hover {
		background: $blue;
		color: #fff;
		border: 2px solid #fff;
		text-decoration: none;
		transition: all 0.3s ease 0s;
	}
}

@media screen and (max-width: 1140px) {
	.process-desc {
		p {
			padding: 0;
		}
	}

	.pym-menu {
		display: none;
	}
}

@media screen and (max-width: 1024px) {
	.right-nav {
		display: none;
	}

	.top-nav {
		display: none;
	}

	.mobile-nav {
		display: none;
		padding: 0 20px;
		padding-top: 80px;
		padding-bottom: 20px;
		background: #0065C3;
		position: fixed;
		z-index: 99;
		width: 100%;
		height: 100%;

		a {
			display: block;
			text-align: center;
			padding: 15px 0;
			text-transform: uppercase;
			font-family: $sofia-black;
			font-size: em(20);
			color: #fff;

			&:hover {
				text-decoration: none !important;
			}
		}
	}

	#nav-icon1 {
		display: block;
	}

	.nav-links {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		text-align: center;
	}

	.fixed-blue-hd, .blue-hd, .fixed-hd {
		padding: 15px 0;
	}

	.about_pym {
		padding-top: 150px;
		height: 100%;
	}

	.online_pay, .atm_pos {
		padding-top: 50px;
		height: 100%;
	}

	.blue_overlay, .red_overlay, .green_overlay {
		height: 100%;
	}
}


@media screen and (max-width: 768px) {
	.meme-gen, .video-gen, .emoji-gen {
		width: 100%;
		padding: 0 !important;
		height: 50vh;

		.content {
			width: 100%;
			float: none;
			// padding: 100px 0;

			h1 {
				font-size: em(28);
			}
		}
	}

	.process-desc {
		max-width: 400px;
		margin: 0 auto;
		margin-bottom: 60px;
	}

	.how-it-works {
		padding: 100px 0px;
	}

	.image-upload {
		padding: 30px 0 70px;
		h2 {
			font-size: em(30);
		}
	}

	.page-banner {
		padding: 100px 0 50px;
	}

	.form-pad-top {
		margin-top: 40px;
	}

	.recent-meme {
		padding: 50px 0;
	}

	.join {
		h1 {
			font-size: em(36);
		}
	}
}

@media screen and (max-width: 480px) {
	.how-it-works {
		padding: 50px 0 100px;

		h2 {
			margin-bottom: 50px;
			font-size: em(30);
		}
	}

	.process-desc {
		p {
			padding: 0 30px;
		}
	}

	.content {
		.text {
			h1 {
				font-size: em(48);
			}

			p {
				font-size: em(16);
			}
		}
	}

	.image-upload {
		h2 {
			font-size: em(24);
			margin-bottom: 20px;
		}
	}

	.border-btn {
			font-size: em(14);
			&.small {
			
			padding: 10px 15px;
			margin-top: 20px;
		}
	}

	

	.meme-gen, .video-gen, .emoji-gen {
		// padding: 40px 0 !important;
		min-height: 300px !important;

		.content {
			height: 100%;
			overflow: hidden;

			.text {

				h1 {
					font-size: em(32);
				}

			}
		}
	}



	.page-banner {
		padding: 100px 0 50px;
	}

	.meme-image {
		position: absolute;
		bottom: -22px;
		left: 70px;
		max-width: 189px;
		max-height: 280px;
	}

	.motif {
		position: absolute;
		bottom: 0px;
		left: 46px;
		right: 0;
	}

	.dropify-max-height {
		height: 260px !important;
	}

	.select-pad-top {
		margin-top: 40px;
	}

	.emoji-download {
		margin-bottom: 20px;
	}

	.about_pym {
		padding-top: 100px;
		padding-bottom: 50px;

		h2 {
			font-size: em(24);
		}

		p {
			font-size: em(14);
		}
	}

	.online_pay, .atm_pos {
		padding-bottom: 50px;
		h2 {
			font-size: em(24);
		}

		h3 {
			margin-top: 0;
			font-size: em(18);
		}

		ul li {
			font-size: em(14);
		}
	}

}

@media screen and (max-width: 340px) {
	.meme-image {
		position: absolute;
		bottom: -22px;
		left: 51px;
		max-width: 189px;
		max-height: 280px;
	}

	.motif {
		position: absolute;
		bottom: 0px;
		left: 33px;
		right: 0;

		img {
			max-width: 90%;
		}
	}

}


